<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1"><title>py-convert 0.2.3</title>
</head>
<body>

<form action="/post_temp_convert" method="post">
    <p><u>Lazybones Temperature Convert<br></u>
    <p><i>usage:</i> C or F and current temperature</p>
    <p>
        <select name="temptype">
            <option value='C'>C to F</option>
            <option value='F'>F to C</option>
        </select>
    </p>
    <p><input type='text' name='temp' /></p>
    <p><input name="send" value="dude!" type="submit" /></p>
</form>

<form action="/post_currency_convert" method="post">
    <p><u>Nasty Ned's Money Changer</u></p>
    <p><i>usage:</i> CZK, HRK EU BAHT or USD and $ amount</p>
    <p>
        <select name="currencytype">
            <option value='USD'>USD to CZK</option>
            <option value='CZK'>CZK to USD</option>
            <option value='HRK'>HRK to USD</option>
            <option value='USD-H'>USD to HRK</option>
            <option value='USD-E'>USD to EU</option>
	    <option value='E-USD'>EU to USD</option>
	    <option value='E-CZK'>EU to CZK</option>
	    <option value='CZK-E'>CZK to EU</option>
            <option value='B-USD'>BAHT to USD</option>
	    <option value='USD-B'>USD to BAHT</option>
    </select>
    </p>
    <p><input type='text' name="currencyamount" cols="10" rows="1" /></p>
    <p><input name="send" value="sweet!" type="submit" /></p>
</form>

<form action="/post_distance_convert" method="post">
    <p><u>Twitchy Ted's Distance Delimiter</u></p>
    <p><i>usage:</i> m, ft, KM, Miles and distance</p>
    <p>
        <select name="distancetype">
            <option value='m'>meters to feet</option>
            <option value='ft'>feet to meters</option>
			<option value='KM'>kilometers to miles</option>
			<option value='Miles'>miles to kilometers</option>
        </select>
    </p>
    <p><input type='text' name="distanceamount" cols="10" rows="1" /></p>
    <p><input name="send" value="bro.." type="submit" /></p>
</form>

<form action="/post_weight_convert" method="post">
    <p><u> Smuggling Sal's Weight Calculator</u></p>
    <p><i>usage:</i> kg or lbs and weight</p>
    <p>
        <select name="masstype">
            <option value='kg'>kilos to lbs</option>
            <option value='lb'>lbs to kilos</option>
        </select>
    </p>
    <p><input type='text' name="weight" cols="10" rows="1" /></p>
    <p><input name="send" value="man.." type="submit" /></p>
</form>

<form action="/post_liquid_convert" method="post">
    <p><u> Slippery Steve's Liquid Calculator</u></p>
    <p><i>usage:</i> ounces, liters or gallons</p>
    <p>
        <select name="liquidtype">
	    <option value='l'>liters to ounces</option>
            <option value='o'>ounces to liters</option>
	    <option value='L'>liters to gallons</option>
            <option value='G'>gallons to liters</option>
        </select>
    </p>
    <p><input type='text' name="liquid" cols="10" rows="1" /></p>
    <p><input name="send" value="u lift bro?" type="submit" /></p>
</form>

</body>
</html>
